<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDMD MarketPlace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Bad Dads of Mont Belvieu Marketplace</h1>
      <h3 class="subtitle">Because Zuck Can Suck Our Dicks!</h3>
  </header>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}" class="nav-btn">Home</a></li>
      <li><a href="{{ url_for('create_post') }}" class="nav-btn">Create Post</a></li>
    </ul>
  </nav>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    Having Issues? Fuck off, this is free! Or Email me <a href="mailto:bdmbmarket@gmail.com" style="color:white;">bdmbmarket@gmail.com</a> LOL
</footer>
</body>
</html>
