{% extends "base.html" %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.description }}</p>
<p><strong>Price:</strong> ${{ "%.2f"|format(post.price) }}</p>
{% for photo in post.photos %}
    <a href="{{ url_for('static', filename='uploads/' + photo.filename) }}" target="_blank"><img src="{{ url_for('static', filename='uploads/' + photo.filename) }}" alt="Photo" width="300"></a>
{% endfor %}

{% if session.uuid == post.uuid %}
    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
        <button type="submit">Delete</button>
    </form>
{% endif %}


<h3>Comments</h3>
<ul>
{% for comment in post.comments %}
    <li>{{ comment.content }}</li>
{% endfor %}
</ul>
<form action="{{ url_for('post', post_id=post.id) }}" method="post">
    <textarea name="content" placeholder="Leave a comment"></textarea>
    <input type="submit" value="Submit">
</form>
{% endblock %}
